html,body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: fixed;
}
.container{
    margin: 10vh 25vw;
    justify-content: center;  
    text-align: center;
    position: fixed;
}
.container img{
    width: 50vw;
    height: auto;
    display: block;
}
.container button{
    width: 50vw;
    height:auto;
    padding: 2vh 0;
    font-size: 2vw ;
    color: white;
    border: none;
    background: linear-gradient(to right, red,green);
    cursor: pointer;
    display:block;
    
}
